.option-card img {
  height: 100px;
  width: 100%;
  object-fit: contain;
}

.single-placeholder {
    max-width: 120px;
}

.single-placeholder.filled {
    max-width: none;
    width: fit-content;
}

.placeholder-box {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed grey;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
}

.placeholder-box.hovering {
    border-style: solid;
    border-color: black;
    background-color: rgb(250, 250, 250);
}

.placeholder-box.filled {
    justify-content: flex-start; 
    border-style: solid;
    border-color: black;
    background-color: rgb(250, 250, 250);
}

